<nav id="category-nav">
  <a href="/blog/0" class="cat-a"><button class="btn">All Posts</button></a>
  <a href="/blog/1" class="cat-a"><button class="btn">Stay</button></a>
  <a href="/blog/2" class="cat-a"><button class="btn">Taste</button></a>
  <a href="/blog/3" class="cat-a"><button class="btn">Vibe</button></a>
</nav>