<!-- rooms start -->
<div class="col-lg-12">
  <div class="post-list">
    <div class="post-list-content-wrapper">
      <div class="post-list-wrapper">
        <!-- section item start -->
        <div class="post-list-item">
          <div class="container-custom post-list-item-container">
            <div class="row post-list-row">
              <div class="col-lg-4-custom col-md-6-custom offset-lg-7-custom">
                <div class="post-list-content">
                  <!-- row start -->
                  <div class="row">
                    <!-- col start -->
                    <div class="col-md-12">
                      <!-- divider start -->
                      <div class="divider-l visible-mobile-devices"></div>
                      <!-- divider end -->
                      <!-- section title start -->
                      <!-- section title end -->
                      <!-- divider start -->
                      <div class="divider-m"></div>
                      <!-- divider end -->
                      <!-- section title start -->
                      <h2 class="hero-heading hero-heading-dark">
                        Display and Share<br>
                        the hidden gems of your voyages.
                      </h2>
                      <!-- section title end -->
                      <!-- divider start -->
                      <div class="divider-l"></div>
                      <!-- divider end -->
                      <!-- section txt start -->
                      <div class="section-txt">
                        <p>

                          Help others find the hidden gems in cities across the world with your hand-crafted pictures,
                          videos, reviews, and insight.

                        </p>
                      </div>
                      <!-- section txt end -->
                      <!-- divider start -->
                      <!-- divider end -->
                      <!-- section txt start -->
                      <!-- divider start -->
                      <div class="divider-s"></div>
                      <!-- divider end -->
                      <!-- section txt end -->
                      <!-- divider start -->
                      <div class="divider-l visible-mobile-devices"></div>
                      <!-- divider end -->
                    </div>
                    <!-- col end -->
                  </div>
                  <!-- row end -->
                </div>
              </div>
            </div>
          </div>
          <!-- section img start -->
          <div class="post-list-bg facilities-bg-4"></div>
          <!-- section img end -->
        </div>
        <!-- section item end -->
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- col start -->
  <div class="col-lg-12">
    <!-- divider start -->
    <!-- divider end -->
    <!-- line start -->
    <div class="the-line"></div>
    <!-- line end -->
    <!-- divider start -->
    <!-- divider end -->
  </div>
  <!-- col end -->
</div>

<div class="row">
  <!-- col start -->
  <div class="col-lg-12">
    <div class="post-list">
      <div class="post-list-content-wrapper">
        <div class="post-list-wrapper">
          <!-- section item start -->
          <div class="post-list-item">
            <div class="container-custom post-list-item-container">
              <div class="row post-list-row">
                <div class="col-lg-4-custom col-md-6-custom offset-lg-1-custom">
                  <div class="post-list-content post-list-content-reverse">
                    <!-- row start -->
                    <div class="row">
                      <!-- col start -->
                      <div class="col-md-12">
                        <!-- divider start -->
                        <div class="divider-l visible-mobile-devices"></div>
                        <!-- divider end -->
                        <!-- section title start -->
                        <h2 class="section-heading">

                        </h2>
                        <!-- section title end -->
                        <!-- divider start -->
                        <div class="divider-m"></div>
                        <!-- divider end -->
                        <!-- section title start -->
                        <h2 class="hero-heading hero-heading-dark">
                          Connect and get tailored travel reviews from friends,
                          influencers & Voyagers from around the world.
                        </h2>
                        <!-- section title end -->
                        <!-- divider start -->
                        <div class="divider-l"></div>
                        <!-- divider end -->
                        <!-- section txt start -->
                        <div class="section-txt">
                          <p>
                            Provide your preferences and get connected with likeminded people globally. You can browse
                            their profiles looking at their experiences, reviews, itineraries, and much more!
                          </p>
                        </div>
                        <!-- section txt end -->
                        <!-- divider start -->
                        <!-- divider end -->
                        <!-- section txt start -->

                        <!-- divider start -->
                        <div class="divider-s"></div>
                        <!-- divider end -->

                        <!-- section txt end -->
                        <!-- divider start -->
                        <div class="divider-l visible-mobile-devices"></div>
                        <!-- divider end -->
                      </div>
                      <!-- col end -->
                    </div>
                    <!-- row end -->
                  </div>
                </div>
              </div>
            </div>
            <!-- section img start -->
            <div class="post-list-bg post-list-bg-reverse post-list-bg-all about-bg-1"></div>
            <!-- section img end -->
          </div>
          <!-- section item end -->
        </div>
      </div>
    </div>
  </div>
  <!-- col end -->
</div>

<div class="row">
  <!-- col start -->
  <div class="col-lg-12">
    <!-- divider end -->
    <!-- line start -->
    <div class="the-line"></div>
    <!-- line end -->
    <!-- divider start -->
    <!-- divider end -->
  </div>
  <!-- col end -->
</div>

<div class="col-lg-12">
  <div class="post-list">
    <div class="post-list-content-wrapper">
      <div class="post-list-wrapper">
        <!-- section item start -->
        <div class="post-list-item">
          <div class="container-custom post-list-item-container">
            <div class="row post-list-row">
              <div class="col-lg-4-custom col-md-6-custom offset-lg-7-custom">
                <div class="post-list-content">
                  <!-- row start -->
                  <div class="row">
                    <!-- col start -->
                    <div class="col-md-12">
                      <!-- divider start -->
                      <div class="divider-l visible-mobile-devices"></div>
                      <!-- divider end -->
                      <!-- section title start -->
                      <h2 class="section-heading">
                      </h2>
                      <!-- section title end -->
                      <!-- divider start -->
                      <div class="divider-m"></div>
                      <!-- divider end -->
                      <!-- section title start -->
                      <h2 class="hero-heading hero-heading-dark">
                        Inspire others<br>
                        Globally
                      </h2>
                      <!-- section title end -->
                      <!-- divider start -->
                      <div class="divider-l"></div>
                      <!-- divider end -->
                      <!-- section txt start -->
                      <div class="section-txt">
                        <p>
                          Let people look at you like the tastemaker you are, and customize their own itineraries based
                          off of your unique tastes and reviews.
                        </p>
                      </div>
                      <!-- section txt end -->
                      <!-- divider start -->
                      <div class="divider-l"></div>
                      <!-- divider end -->
                      <!-- section txt start -->
                      <!-- divider start -->
                      <div class="divider-s"></div>
                      <!-- divider end -->
                      <!-- section txt end -->
                      <!-- divider start -->
                      <div class="divider-l visible-mobile-devices"></div>
                      <!-- divider end -->
                    </div>
                    <!-- col end -->
                  </div>
                  <!-- row end -->
                </div>
              </div>
            </div>
          </div>
          <!-- section img start -->
          <div class="post-list-bg facilities-bg-5"></div>
          <!-- section img end -->
        </div>
        <!-- section item end -->
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- col start -->
  <div class="col-lg-12">
    <!-- divider start -->
    <div class="divider-l"></div>
    <!-- divider end -->
    <!-- line start -->
    <!-- line end -->
    <!-- divider start -->
    <div class="divider-l"></div>
    <!-- divider end -->
  </div>
  <!-- col end -->
</div>

<!-- rooms end -->