<!-- border top start -->
<!-- container start -->
<div class="container-fluid nopadding">
  <div class="extra-margin-border">
    <div class="border-top"></div>
  </div>
</div>
<!-- container end -->
<!-- border top end -->
<nav class="navbar navbar-fixed-top navbar-bg-switch">
  <!-- container start -->
  <div class="container-fluid nopadding">
    <div class="navbar-header fadeIn-element">
      <!-- logo start -->
      <div class="logo">
        <a class="navbar-brand logo" href="index.html">
          <!-- logo light start -->
          <img alt="Logo" class="logo-light" src="/public/img/mv_logo_light.webp">
          <!-- logo light end -->
          <!-- logo dark start -->
          <img alt="Logo" class="logo-dark" src="/public/img/mv_logo_dark.webp">
          <!-- logo dark end -->
        </a>
      </div>
      <!-- logo end -->
    </div>
    <!-- main navigation start -->
    <div class="main-navigation fadeIn-element">
      <div class="navbar-header">
        <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar-collapse"
          data-toggle="collapse" type="button"><span class="sr-only">Toggle
            navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
            class="icon-bar"></span></button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <!-- menu start -->
        <ul class="nav navbar-nav">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/blog/0">blogs</a>
          </li>
          <li>
            <a href="ambassador.html">Become Ambassador</a>
          </li>
          <li>
            <a href="gallery.html">Voyager Feature</a>
          </li>
          <li>
            <a href="contact.html">early access</a>
          </li>
          {{#if this}}
          <li>
            <a href="/dashboard">Profile</a>
          </li>
          <li>
            <a id="logout" class="btn-no-style" href="#">logout</a>
          </li>
          {{else}}
          <li>
            <a href="/login-signup">Login/Signup</a>
          </li>
          {{/if}}
        </ul>
        <!-- menu end -->
      </div>
    </div>
    <!-- main navigation end -->
  </div>
  <!-- container end -->
</nav>
<!-- navigation end -->