<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>
    My Voyages
  </title>
  <meta content="" name="description">
  <meta content="" name="author">
  <meta content="" name="keywords">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <!-- style start -->
  <link href="/public/css/plugins.css" media="all" rel="stylesheet" type="text/css">
  <link href="/public/css/style.css" media="all" rel="stylesheet" type="text/css">

  <!-- style end -->
  <!-- google fonts start -->
  <link
    href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900%7CMontserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet" type="text/css">
  <!-- google fonts end -->
  <link rel="shortcut icon" href="/public/img/logo-64x64.png" type="x-icon">
</head>

<body>
  {{{ body }}}
</body>

</html>