{{> nav-bar loggedIn}}
{{> hero hero}}
<!-- scroll indicator start -->
<div class="scroll-indicator">
  <div class="scroll-indicator-wrapper">
    <div class="scroll-line fadeIn-element"></div>
  </div>
</div>
<!-- scroll indicator end -->
<!-- blog sidebar start -->
<div class="blog-side panel-overlay-from-right-blog blog-side-launch"></div>
<div class="blog-side panel-from-left-blog">
  <!-- blog sidebar wrapper start -->
  <div class="blog-sidebar-wrapper">
    <!-- blog search bar start -->
    <div class="blog-search">
      <form action="#" class="">
        <input name="search" id="search" type="text" class="search" placeholder="Type and hit enter"
          value="Type and hit enter">
        <button id="submit-btn">
          <i class="ion-ios-search-strong"></i>
        </button>
      </form>
    </div>
    <!-- blog search bar end -->
    <!-- divider start -->
    <div class="divider-m"></div>
    <!-- divider end -->
    <!-- blog recent posts start -->
    <div class="blog-side-heading">
      <h3>
        Recent <span>Posts</span>
      </h3>
    </div>
    <!-- divider start -->
    <div class="divider-m"></div>
    <!-- divider end -->
    <div class="blog-side-text-wrapper">
      <div class="blog-side-text">
        <a href="blog-single.html">
          New Year's Eve Event
        </a>
      </div>
    </div>
    <div class="blog-side-text-wrapper">
      <div class="blog-side-text">
        <a href="blog-single.html">
          Renovation Completed
        </a>
      </div>
    </div>
    <div class="blog-side-text-wrapper">
      <div class="blog-side-text">
        <a href="blog-single.html">
          Five Star Award Received
        </a>
      </div>
    </div>
    <div class="blog-side-text-wrapper">
      <div class="blog-side-text">
        <a href="blog-single.html">
          Step Into Luxury
        </a>
      </div>
    </div>
    <!-- blog recent posts end -->
    <!-- divider start -->
    <div class="divider-m"></div>
    <!-- divider end -->
    <!-- blog recent comments start -->
    <div class="blog-side-heading">
      <h3>
        Recent <span>Comments</span>
      </h3>
    </div>
    <!-- divider start -->
    <div class="divider-m"></div>
    <!-- divider end -->
    <div class="blog-side-text-wrapper">
      <div class="blog-side-text">
        <a href="blog-single.html">
          John Ex on New Year's Eve Event
        </a>
      </div>
    </div>
    <div class="blog-side-text-wrapper">
      <div class="blog-side-text">
        <a href="blog-single.html">
          Jane Ex on Renovation Completed
        </a>
      </div>
    </div>
    <div class="blog-side-text-wrapper">
      <div class="blog-side-text">
        <a href="blog-single.html">
          John Ex on Five Star Award Received
        </a>
      </div>
    </div>
    <div class="blog-side-text-wrapper">
      <div class="blog-side-text">
        <a href="blog-single.html">
          Jane Ex on Step Into Luxury
        </a>
      </div>
    </div>
    <!-- blog recent comments end -->
  </div>
  <!-- blog sidebar wrapper end -->
</div>
<!-- blog sidebar end -->
<!-- vertical lines start -->
<div class="vertical-lines-wrapper">
  <div class="vertical-lines"></div>
</div>
<!-- vertical lines end -->
{{> post-wrapper}}
<!-- container start -->
{{> contact footer}}
<!-- to top arrow start -->
<div class="to-top-arrow">
  <span class="ion-ios-arrow-up"></span>
</div>
<!-- to top arrow end -->
<!-- scripts start -->
<script src="https://code.iconify.design/iconify-icon/1.0.3/iconify-icon.min.js"></script>
<script src="/public/main/js/plugins.js"></script>
<script src="/public/main/js/luxex.js"></script>
<!-- scripts end -->