{{> nav-bar loggedIn}}
{{> hero hero}}
<!-- scroll indicator start -->
<div class="scroll-indicator">
  <div class="scroll-indicator-wrapper">
    <div class="scroll-line fadeIn-element"></div>
  </div>
</div>
<!-- scroll indicator end -->
</div>
<!-- home end -->
<!-- vertical lines start -->
<div class="vertical-lines-wrapper">
  <div class="vertical-lines"></div>
</div>
<!-- vertical lines end -->
<!-- contact start -->

<!-- container start -->
<div class="container-fluid">
  <!-- row start -->
  <div class="row">
    <!-- col start -->
    <div class="col-lg-12">
      <!-- divider start -->
      <div class="divider-l"></div>

      <!-- divider end -->
    </div>
    <!-- col end -->
  </div>
  <!-- row end -->
</div>
<!-- container end -->
<div class="container-fluid">
  <!-- row start -->
  <div class="container-fluid">
    <!-- row start -->
    <div class="row">
      <!-- col start -->
      <div class="col-lg-12">
        <!-- divider start -->
        <div class="divider-l"></div>
        <!-- divider end -->
        <!-- line start -->
        <div class="the-line"></div>

        <!-- line end -->
        <!-- divider start -->
        <div class="divider-l"></div>
        <h4 class="cords">8.4095° S, <span> </span> 115.1889° E</h4>
        <!-- divider end -->
      </div>
      <!-- col end -->
    </div>

    <div class="container-fluid">
      <!-- row start -->
      <div class="row">
        <!-- col start -->
        <div class="col-lg-12">
          <!-- divider start -->
          <div class="divider-l"></div>
          <!-- divider end -->
          <!-- line start -->
          <div class="the-line"></div>

          <!-- line end -->
          <!-- divider start -->
          <div class="divider-l"></div>
          <!-- divider end -->
        </div>
        <!-- col end -->
      </div>
      <!-- row end -->
    </div>
    <!-- row end -->
  </div>
  <!-- row end -->
</div>
{{> promoVideo promoVideo}}
<!-- container start -->
<div class="container">
  <!-- row start -->
  <!-- divider start -->
  <div class="divider-xl"></div>
  <!-- divider end -->
  <div>
    <!-- section subtitle start -->
    <h4 class="h4-comments Ambassador">
      Ambassador Form
    </h4>
    <!-- section subtitle end -->
    <!-- divider start -->
    <div class="divider-l"></div>
    <!-- divider end -->
    <!-- comment form start -->
    <div id="comment-form">
      <div class="extra-margin-blog">
        <form action="#" id="form-3" method="post" name="send">
          <!-- col start -->
          <div class="col-sm-6 col-md-6 col-lg-6">
            <h4 class="questions-ambassador">Enter first and last name</h4>
            <input class="requiredField-c name" id="name" name="name" placeholder="Name" type="text">
          </div>
          <!-- col end -->
          <!-- col start -->
          <div class="col-sm-6 col-md-6 col-lg-6">
            <h4 class="questions-ambassador">Enter email address</h4>
            <input class="requiredField-c email" id="email-c" name="email" placeholder="Email" type="text">
          </div>
          <!-- col end -->
          <div class="col-sm-6 col-md-6 col-lg-6">
            <h4 class="questions-ambassador">How many countries have you visited?</h4>
            <input class="requiredField-c email" id="how-many" name="how-many" placeholder="Type Number" type="text">
          </div>

          <div class="col-sm-6 col-md-6 col-lg-6">
            <h4 class="questions-ambassador">Do you have great travel content to share with the world?</h4>
            <input class="requiredField-c email" id="how-many" name="how-many" placeholder="Yes or No" type="text">
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <h4 class="questions-ambassador">List the top 3 activities you value when on a trip</h4>
            <input class="requiredField-c email" id="how-many" name="how-many" placeholder="Hiking etc." type="text">
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <h4 class="questions-ambassador">When and where are your upcoming trips</h4>
            <input class="requiredField-c email" id="how-many" name="how-many" placeholder="Type your destinations here"
              type="text">
          </div>
          <!-- col start -->
          <div class="divider-xl"></div>

          <div class="divider-xl"></div>
          <!-- col end -->
          <div>
            <!-- button start -->
            <div class="more-wraper-center more-wraper-center-form-2">
              <div
                class="more-button-bg-center more-button-bg-center-dark more-button-bg-center-dark-close more-button-circle">
              </div>
              <div class="more-button-txt-center more-button-txt-center-close">
                <button>
                  <span>Submit</span>
                </button>
              </div>
            </div>
            <!-- button end -->
          </div>
        </form>
      </div>
    </div>
    <!-- comment form end -->
  </div>
  <!-- row end -->

  <!-- container end -->
</div>
<!-- contact end -->
<!-- contact modal start -->
<div class="contact-modal">
  <!-- container start -->
  <div class="container">
    <!-- center container start -->
    <div class="center-container-contact-modal">
      <!-- center block start -->
      <div class="center-block-contact-modal">
        <!-- row start -->
        <div class="row center-block-contact-modal-padding-top">
          <!-- col start -->
          <div class="col-lg-12">
            <!-- section title start -->
            <h2 class="hero-heading hero-heading-dark">
              Inquiries
            </h2>
            <!-- section title end -->
            <!-- divider start -->
            <div class="divider-l"></div>
            <!-- divider end -->
          </div>
          <!-- col end -->
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row contact-modal-wrapper">
          <!-- col start -->
          <div>
            <!-- contact form start -->
            <div id="contact-form">
              <form action="contact.php" id="form" method="post" name="send">
                <!-- col start -->
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <input class="requiredField name" id="name" name="name" placeholder="Name" type="text">
                </div>
                <!-- col end -->
                <!-- col start -->
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <input class="requiredField email" id="email" name="email" placeholder="Email" type="text">
                </div>
                <!-- col end -->
                <!-- col start -->
                <div class="make-space">
                  <input class="requiredField subject" id="subject" name="subject" placeholder="Subject" type="text">
                </div>
                <!-- col end -->
                <!-- col start -->
                <div class="make-space">
                  <textarea class="requiredField message" id="message" name="message" placeholder="Message"></textarea>
                </div>
                <!-- col end -->
                <div>
                  <!-- button start -->
                  <div class="more-wraper-center more-wraper-center-form">
                    <div
                      class="more-button-bg-center more-button-bg-center-dark more-button-bg-center-dark-close more-button-circle">
                    </div>
                    <div class="more-button-txt-center more-button-txt-center-close">
                      <button>
                        <span>Submit</span>
                      </button>
                    </div>
                  </div>
                  <!-- button end -->
                </div>
              </form>
            </div>
            <!-- contact form end -->
          </div>
          <!-- col end -->
        </div>
        <!-- row end -->
        <!-- divider start -->
        <div class="divider-l"></div>
        <!-- divider end -->
        <!-- row start -->
        <div class="row center-block-contact-modal-padding-bottom">
          <div class="col-lg-12">
            <!-- contact modal closer start -->
            <div class="contact-modal-closer">
              <span class="ion-close"></span>
            </div>
            <!-- contact modal closer end -->
          </div>
        </div>
        <!-- row end -->
      </div>
      <!-- center block end -->
    </div>
    <!-- center container end -->
  </div>
  <!-- container end -->
</div>
<!-- contact modal end -->
{{> contact footer}}
<!-- to top arrow start -->
<div class="to-top-arrow">
  <span class="ion-ios-arrow-up"></span>
</div>
<!-- to top arrow end -->