{{> nav-bar }}
{{> hero heroBlog=heroBlog }}
<ol>
{{!-- for each post generate a post-info partial with post data --}}
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>
{{> contact}}

<script
  src="https://code.jquery.com/jquery-3.6.4.min.js"
  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
  crossorigin="anonymous"></script>
<script src="/public/js/photo-slider.js"></script>
<script src="/public/js/google-map.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key={{gmaps}}&callback=addMaps&v=weekly"
  defer
></script>