{{> nav-bar loggedIn}}
{{> hero heroBlog=heroBlog}}
{{> city-blog-search}}
{{> category-nav}}
{{#if noData}}
<h2 class="noData">No posts for this city yet...</h2>
{{else}}
<ol id="blog-feed">
  {{!-- for each post generate a post-info partial with post data --}}
  {{#each posts as |post|}}
  <li class="blog-li">
    {{> post-info post}}
  </li>
  {{/each}}
</ol>
{{/if}}

{{> contact}}

<script src="/public/js/blog/photo-slider.js"></script>
<script src="/public/js/blog/blog-search.js"></script>
<script src="/public/js/blog/blog-nav.js"></script>