{{> nav-bar loggedIn}}
{{> hero hero}}
<!-- scroll indicator start -->
<div class="scroll-indicator">
  <div class="scroll-indicator-wrapper">
    <div class="scroll-line fadeIn-element"></div>
  </div>
</div>
<!-- scroll indicator end -->
</div>
<!-- home end -->
<!-- vertical lines start -->
<div class="vertical-lines-wrapper">
  <div class="vertical-lines"></div>
</div>
<!-- vertical lines end -->
<!-- container start -->
<div class="container-fluid">
  <!-- row start -->
  <div class="row">
    <!-- col start -->
    <div class="col-lg-12">
      <!-- divider start -->
      <div class="divider-l"></div>
      <!-- divider end -->
      <!-- line start -->
      <div class="the-line"></div>

      <!-- line end -->
      <!-- divider start -->
      <div class="divider-l"></div>
      <h4 class="cords">25.2048° N, <span> </span> 55.2708° E</h4>
      <!-- divider end -->
    </div>
    <!-- col end -->
  </div>
  <!-- row end -->
</div>
<!-- container end -->
{{> contact footer}}
<!-- to top arrow start -->
<div class="to-top-arrow">
  <span class="ion-ios-arrow-up"></span>
</div>
<!-- to top arrow end -->