{{> nav-bar loggedIn}}
{{> hero heroBlog=heroBlog }}
<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
<form action="/api/posts" method="POST" enctype="multipart/form-data" target="dummyframe" >
  <label for="images">Multi-image Upload:</label>
  <input type="file" name="images" accept="image/*" multiple required/>

  <label for="title">Title:</label>
  <input type="text" name="title" required>

  <label for="title">Content:</label>
  <input type="text" name="content" required>

  <button type="submit">Submit</button>
</form>
{{> contact}}