{{> nav-bar loggedIn}}
{{> hero }}
<!-- separator start -->
<div id="reservation-form-wrapper" class="section-all bg-dark reservation-form-wrapper-home">
  <!-- container start -->
  <div class="container-fluid nopadding nopadding-xs">
    <div class="extra-margin-container">
      <!-- row start -->
      <div class="row">
        <!-- col start -->
        <div class="col-lg-12">

          <!-- divider end -->
        </div>
        <!-- col end -->
      </div>
      <!-- row end -->
    </div>
  </div>
  <!-- container end -->
</div>
<!-- separator end -->
<!-- reservation form wrapper start -->
<div>
  <!-- reservation form start -->

  <!-- reservation form end -->
</div>
<!-- reservation form wrapper end -->
<!-- vertical lines start -->
<div class="vertical-lines-wrapper">
  <div class="vertical-lines"></div>
</div>
<!-- vertical lines end -->
<!-- about start -->
<div id="about" class="section-all bg-dark">
  {{> coordinates-banner }}
  {{> image-gallery }}
</div>
<!-- about end -->
{{> early-access-video }}
{{> mobile-features }}
{{> video-testimonials }}
{{> contact }}

<!-- to top arrow start -->
<div class="to-top-arrow">
  <span class="ion-ios-arrow-up"></span>
</div>
<!-- to top arrow end -->
<!-- photoSwipe background start -->
<div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
  <div class="pswp__bg"></div>
  <div class="pswp__scroll-wrap">
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        <div class="pswp__counter"></div>
        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button
          class="pswp__button pswp__button--share" title="Share"></button> <button class="pswp__button pswp__button--fs"
          title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom"
          title="Zoom in/out"></button>
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>
      <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button
        class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
      <div class="pswp__caption">
        <div class="pswp__caption__center"></div>
      </div>
    </div>
  </div>
</div>
<!-- photoSwipe background end -->
<script src="https://code.iconify.design/iconify-icon/1.0.3/iconify-icon.min.js"></script>
<script src="/public/js/plugins.js"></script>
<script src="/public/js/luxex.js"></script>